@model Taskool.Models.TipoAsignacion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TipoAsignacion</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
           Tipo Asignación
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreTipoAsignacion)
            @Html.ValidationMessageFor(model => model.nombreTipoAsignacion)
        </div>

        <div class="editor-label">
           Num. Máximo Día
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numMaximoDia)
            @Html.ValidationMessageFor(model => model.numMaximoDia)
        </div>

        <p>
            <input type="submit" value="Save" class = "round small button" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
