@model Taskool.Models.Institucion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Institucion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.razonSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.razonSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ciudad.nombreCiudad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ciudad.nombreCiudad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estadoInstitucion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estadoInstitucion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaRegistro)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete"  class = "round small button"/> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
