@model Taskool.Models.Institucion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Institucion</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            NIT
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nit)
            @Html.ValidationMessageFor(model => model.nit)
        </div>

        <div class="editor-label">
            Razón Social
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.razonSocial)
            @Html.ValidationMessageFor(model => model.razonSocial)
        </div>

        <div class="editor-label">
         Dirección
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.direccion)
            @Html.ValidationMessageFor(model => model.direccion)
        </div>

        <div class="editor-label">
          Telefono 1
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono1)
            @Html.ValidationMessageFor(model => model.telefono1)
        </div>

        <div class="editor-label">
           Telefono 2
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono2)
            @Html.ValidationMessageFor(model => model.telefono2)
        </div>

        <div class="editor-label">
            Ciudad
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCiudad", String.Empty)
            @Html.ValidationMessageFor(model => model.idCiudad)
        </div>

        <div class="editor-label">
           Estado
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estadoInstitucion)
            @Html.ValidationMessageFor(model => model.estadoInstitucion)
        </div>

        <div class="editor-label">
          Fecha Registro
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaRegistro)
            @Html.ValidationMessageFor(model => model.fechaRegistro)
        </div>

        <p>
            <input type="submit" value="Save"  class = "round small button"  />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
