@model IEnumerable<Taskool.Models.Institucion>

@{
    ViewBag.Title = "Instituciones";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="twelve">
     <thead>
        <tr>
            <th>Nit 
            </th>
            <th>Razon Social
            </th>
            <th>Dirección
            </th>
            <th>
                 Teléfono1
            </th>
            <th>
               Teléfono2
            </th>
            <th>
                 Ciudad
            </th>
            <th>
                Estado
            </th>
            <th>
                Fecha Registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.razonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad.nombreCiudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estadoInstitucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaRegistro)
                </td>
                <td>
                  
                   @Html.ActionLink("Editar", "Edit", new { id = item.id },new { @class = "round small button" } ) |
                   @Html.ActionLink("Detalle", "Details", new { id = item.id } ,new { @class = "round small button" }) |
                   @Html.ActionLink("Eliminar", "Delete", new { id = item.id } ,new { @class = "round small button" })
                </td>
            </tr>
        }
    </tbody>
</table>
