@model IEnumerable<Taskool.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Institucion.nit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>Grupos</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Institucion.nit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>

        <td>
            @{
            foreach (var grupo in item.Grupo)
            {
                @grupo.id @:  @grupo.Grado.nombreGrado <br />
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) 
        </td>
    </tr>
}

</table>
