@model Taskool.Models.Grado

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Grado</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombreGrado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreGrado)
            @Html.ValidationMessageFor(model => model.nombreGrado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCategoria, "Categoria")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCategoria", String.Empty)
            @Html.ValidationMessageFor(model => model.idCategoria)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
