@model Taskool.Models.Grupo_Evaluacion

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Grupo_Evaluacion</legend>

        <div class="editor-label">
            Grupo
        </div>
        <div class="editor-field">
            @Html.DropDownList("idGrupo", String.Empty)
            @Html.ValidationMessageFor(model => model.idGrupo)
        </div>

        <div class="editor-label">
           Fecha Inicial
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaInicial)
            @Html.ValidationMessageFor(model => model.fechaInicial)
        </div>

        <div class="editor-label">
           Fecha Final
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaFinal)
            @Html.ValidationMessageFor(model => model.fechaFinal)
        </div>

        <p>
            <input type="submit" value="Create" class = "round small button" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
