@model Taskool.Models.Asignacion_Archivo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Asignacion_Archivo</legend>

    <div class="display-label">
        Asignación
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asignacion.titulo)
    </div>

    <div class="display-label">
        Nombre Archivo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreArchivo)
    </div>

    <div class="display-label">
         Path Archivo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pathArchivo)
    </div>

    <div class="display-label">
         Num. Descargas
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numDescargas)
    </div>

    <div class="display-label">
         Fecha Registro
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaRegistro)
    </div>

    <div class="display-label">
        Estado Archivo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estadoArchivo)
    </div>

    <div class="display-label">
        Fecha Eliminación
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaEliminacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete"  class = "round small button"/> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
