@model Taskool.Models.Asignacion_Archivo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Asignacion_Archivo</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @ Asignacion
        </div>
        <div class="editor-field">
            @Html.DropDownList("idAsignacion", String.Empty)
            @Html.ValidationMessageFor(model => model.idAsignacion)
        </div>

        <div class="editor-label">
          Nombre Archivo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreArchivo)
            @Html.ValidationMessageFor(model => model.nombreArchivo)
        </div>

        <div class="editor-label">
           Path Archivo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pathArchivo)
            @Html.ValidationMessageFor(model => model.pathArchivo)
        </div>

        <div class="editor-label">
           Num. Descargas
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numDescargas)
            @Html.ValidationMessageFor(model => model.numDescargas)
        </div>

        <div class="editor-label">
           Fecha Registro 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaRegistro)
            @Html.ValidationMessageFor(model => model.fechaRegistro)
        </div>

        <div class="editor-label">
            Estado Archivo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estadoArchivo)
            @Html.ValidationMessageFor(model => model.estadoArchivo)
        </div>

        <div class="editor-label">
           Fecha Eliminación
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaEliminacion)
            @Html.ValidationMessageFor(model => model.fechaEliminacion)
        </div>

        <p>
            <input type="submit" value="Save" class = "round small button" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
